
<style>
	
	p {    color: white;
    position: fixed;
    top: 0;
    left: 30%;
    top: 7%;
    font-size: 3.3em;
    font-family: sans-serif;
    width: 60%;}



    	.blink {border-left: 1px;
  animation: blinker3 2.7s linear infinite;
}
span.sans {font-family: serif;}
@keyframes blinker3 {  
  50% { opacity: 0.0; color: red; }
}




</style>
{{title}}


<p>tilde ~ <span class="blink">_&nbsp;</span> the next selector  :<br> we bring you a digital agency::</p>


<p>tilde ~ :the next selector</p>
 
<p>the power of: “ {brackets} ”  the empty key pair</p>
<p>the power of “ ~ “ tilde </p>
<p>pthe empty bracket: “ “ ; </p>
<p>~ , the general sibling selector,</p>
<p>elusive oh u oh u are</p>
<p>cannoning and oh u are </p>
<p>cannoningand the rest of it all falls </p>
<p>cannoningant the rest of it all ~ general, sibling child, pseudo, n(th) ::after and ::before </p>

<p>cannoningn (th) selector n to to trial by error (th) time </p>
<p>cannoningn to the theta </p>

<p>tailed  you child sibling @ or /otherwise >


<p>tilde.nyc </p>  